.indexHeader{
    color: red;
}
body{
    background-color: #c1c2c4;
    color: #313638;
}
.aboutMeHeader{
    color:red;
 }
.aboutMeContent{
    color: red;
}
.aboutMeDesc{
    font-weight: 800;
}

.header{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

.courseList{
    font-weight: 800;
    color:green;
}

.image-container {
    display: inline-block;
    height: 100px;
  }

.movies a{
    text-decoration: none;
    color: rgb(240, 85, 13)
}

.movies a:hover{
    color: rgb(29, 163, 100)
}  

.neighbors{
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    color:green;
}




 
